<section class="hero is-primary">
<div class='user-btn'>
  <% if user_signed_in? %>
    <li><%= link_to current_user.nickname, "#", class: "user-nickname"  %></li>
    <li><%= link_to '新規記事投稿' ,new_article_path,  class: "new-article" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
  <% else %>
    <li><%= link_to 'ログイン', user_session_path,class: "login"  %></li>
    <li><%= link_to '新規登録', new_user_registration_path %></li>
  <% end %>
</div>
<div class="hero-body">
  <p class="title">
    ひすとりびあ〜HISTORIVIA~
  </p>
  <p class="subtitle">
    〜教科書では教えてくれない歴史雑学〜
  </p>
</div>
</section>
